h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
table,
th,
td {
  border: 3px solid #151515;
  background: #d4ffd9;
}

table {
  width: 35%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 5px;
}

td {
  text-align: center;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  max-width: 150px;
}